body {
  font-family: arial;
}

a {
  color: darkblue;
}

.flex-container{
  display: inline-flex;
  flex-direction: column;
}

.flex-item {
  margin: 0px 20px;
}

.topborder{
  border-top: ridge;
  border-top-color: darkblue;
}

#left-container{
  width: 30%;
}

#right-container{
  width: 65%;
  border: ridge;
  border-color: darkblue;
  background-color: lightgrey;
}

#header{
  background-color: lightseagreen;
  color: white;
}